<div id="<%= dom_id crop_event %>">
  <p>
    <strong>Name:</strong>
    <%= crop_event.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= crop_event.description %>
  </p>

  <p>
    <strong>Event type:</strong>
    <%= crop_event.event_type %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= crop_event.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= crop_event.end_time %>
  </p>

</div>
