<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "IoT Agricultural Platform" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    
    <%= csrf_meta_tags %> <!-- Apenas uma vez -->
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    
    <!-- Stylesheets -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %> <!-- Se usar Turbo -->
    
    <!-- JavaScript Importmap ou UJS -->
    <%= javascript_importmap_tags %> <!-- Para Hotwire/Turbo -->
    
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %> <!-- Se usar Turbolinks ou Turbo -->
    <%= javascript_include_tag 'Script' %> <!-- Certifique-se de que o nome está correto -->
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
